:root{
    --a:red;
    --b:aqua;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: var(--a);
    
}
body{
    background-color: var(--b);
}
h1{
    text-align: center;
}
#nav{
    margin-top: 20px;
    position: sticky;
    top: 0;
    z-index: 2;
}
ul{
    display: flex;
    list-style-type: none;
    background: darkgreen;
}
li{
    padding: 10px;
}
li a{
    text-decoration: none;
    
}
input{
    border-radius: 10px;
}
input,select,input:focus{
    border-color: var(--a);
    outline: none;
    background-color: var(--b);
}
p{
    display: inline;
    font-size: 1.5rem;
    background-image: linear-gradient(to right, var(--a),var(--a));
    background-repeat: no-repeat;
    background-size: 0px 2px;
    background-position: left bottom;
    transition: background-size 0.4s linear;
}
div div:hover p{
    background-size: 100% 2px;
}
img{
    display: block;
    width:100%;
    height: 200px;
}
.container{
    margin: 50px 29px 30px 20px;
    display: grid;
    grid-template-columns:repeat(4,1fr);
    grid-auto-rows:minmax(150px,auto);
    justify-content: space-around;
    gap: 50px 50px;
    text-align: center;
    /* border: 1px solid black; */
}
.container img{
    margin-bottom: 10px;
}
div div[data-a]:hover{
    transform: scale(1.1);
}
div div[data-a]:hover img{
    box-shadow: 10px 5px 10px var(--a);
}
.b{
    width: 80%;
    height: 80%;
    /* position: fixed; */
    right: 10px;
    z-index: 2;
}
.a{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 2;
    align-items: center;
    justify-content: center;
}
span{
    position: absolute;
    font-size: 3rem;
    top: 0px;
    right: 15px;
    font-weight: bolder;
    cursor: pointer;
}
@media screen and (max-width:650px){
    .b{
        transform: scaleY(0.5);
    }
    ul{
        display: block;
    }
    ul li:nth-child(3) select{
        margin-left: 10px;
        
    }
    ul li:nth-child(4) select{
        margin-left: 17px;
    }
    input,select{
        width: 50%;
    }
    .container{
        display: grid;
        grid-template-columns:repeat(2,1fr);
    }
}
@media screen and (max-width:480px){
    
    ul{
        display: block;
    }
    ul li:nth-child(3) select{
        margin-left: 10px;
        
    }
    ul li:nth-child(4) select{
        margin-left: 17px;
    }
    .container{
        display: grid;
        grid-template-columns:repeat(1,1fr);
    }
}


